.banner {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
    perspective: 1000px; /* Outer perspective for the whole scene */
}

.banner .slider {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: rotateX(-35deg); /* Tilt stays constant */
    animation: autoRun 20s linear infinite;
}

/* .banner .slider .item {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
               translateZ(550px);
}

.banner .slider .item img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
} */

.banner .slider .item {
    transform-style: preserve-3d;
    position: absolute;
    inset: 0;
    transform: rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
               translateZ(550px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner .slider .item::after {
    content: '';
    position: absolute;
    inset: 0;
    background: inherit;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.item {
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}
.front, .back {
    position: absolute;
    inset: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden; 
}
.back {
    transform: rotateY(180deg);
}
.center-character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate(-50%, -50%) translateZ(0px) rotateY(0deg);
    pointer-events: none;
    z-index: 0;
}

.center-character {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: counterRotate 20s linear infinite;
    pointer-events: none;
}

.center-character img {
    width: 500px;
    height: auto;
    margin-top: 90%;
}


@keyframes autoRun {
    from {
        transform: rotateX(-35deg) rotateY(0deg);
    }
    to {
        transform: rotateX(-35deg) rotateY(360deg);
    }
}

@keyframes counterRotate {
    from { transform: translate(-50%, -50%) rotateY(0deg); }
    to { transform: translate(-50%, -50%) rotateY(-360deg); }
}
